<%- include("partials/header") %>

<script src = '/js/liveSchedule.js'></script>


<%= JSON.stringify(data) %>
<h1 id = 'date' unmoment = ''><%= data.date %></h1>

<button type = 'button' class = 'btn btn-primary' id = 'updateRtnAuth'>Match RTN Auth</button>

<table class="table table-striped">
        
    <thead>
        <th scope="col">Simulcast Schedule</th>
        <th scope="col">Status</th>
    </thead>
    <tbody id='yes'>
    

<% for (i = 0; i < data.channelPlan.length; i++) { %>
        <tr>
            <td>
                <h3><%= data.channelPlan[i].name %></h3>

                <% if (data.channelPlan[i].timeToSend) { %>
                <p>time to switch: <%= data.channelPlan[i].timeToSend %></p>
                <% } else if (data.channelPlan[i].timeToSend == '') { %>
                <p>time to switch: ASAP</p>
                <% } %>

                <% if (data.channelPlan[i].rcnChan) { %>
                    <p>RCN Channel: <%= data.channelPlan[i].rcnChan %></p>
                    <% } else if (data.channelPlan[i].rcnChan !== '') { %>
                    <p>RCN Channel: not recieved yet</p>
                    <% } else if (!data.channelPlan[i].rcnChan) { %>
                    <p>RCN Channel: not found</p>
                    <% } %>

                    <% if (data.channelPlan[i].authName) { %>
                    <p>authorization: <%= data.channelPlan[i].authName %></p>
                    <% } else if (!data.channelPlan[i].authName) { %>
                    <p>authorization: not found check <a href='/config/rcn/auth'>list</a></p>
                    <% } %>
            </td>
            <td>
                <input type = 'button' class='btn btn-primary send' value = 'unsent'>
            </td>
            <!--
            <td>
                <input type="text" class="form-control name" value = "<%= data.channelPlan[i].name %>">
            </td>
            <td>
                <input class="form-control channel" type="text" placeholder="disabled" readonly value = "">
            </td>
            <td>
                <input class="form-check-input hd" type="checkbox">
            </td>
            <td>
                <input class="timepicker time" value = "<%= data.channelPlan[i].timeToSend %>">
            </td>
            <td>
                <% if (data.channelPlan[i].rcnChan) { %>
                <input class='form-control' value = '<%= data.channelPlan[i].rcnChan %>'>
                <% } else if (data.channelPlan[i].rcnChan !== '') { %>
                <input class='form-control' value = '' placeholder = 'RCN channel not recieved yet...'>
                <% } else if (!data.channelPlan[i].rcnChan) { %>
                <input class='form-control' value = '' placeholder = 'RCN channel not found'>
                <% } %>
            </td>
            <td>
                <input type = 'button' class='btn btn-primary send' value = 'unsent'>
            </td>
            -->
        </tr>
<% } %>

</tbody>
</table>



                </main>
            </div>
        </div>
    </body>
</html>