<%- include("partials/header") %>

<script src = '/js/rcnAuths.js'></script>


<button id = 'save' type="button" class="btn btn-success">Save</button>
        <% if (tuners) { %>
        <% for (i = 0; i < tuners.length; i++) { %>

    <table class="table table-striped">
            <thead>
                <th scope="col"><%= tuners[i].channel %></th>
            </thead>
            <tbody loki = '<%= tuners[i]["$loki"] %>'>
                <% for (x = 0; x < tuners[i].auth.length; x++) { %>
                <tr class = 'cloneItem'>
                    <td>
                        <input type="text" class="form-control name" value = "<%= tuners[i].auth[x] %>">
                    </td>
                </tr>
                <% } %>
                <tr class = 'cloneItem'>
                    <td>
                        <input type="text" class="form-control name" value = "<%= tuners[i].auth[x] %>">
                    </td>
                </tr>
        </tbody>
    </table>
        <% }} %>



 




    <form id = 'update' method = 'POST' action = '/config/rcn/auth'>
        <input type="hidden" id="dateObj" name="dateObj" value="">
        <input type="hidden" id="dateStr" name="date" value="">
    </form>


    <%- include("partials/footer") %>