<%- include("partials/header") %>

<link rel = 'stylesheet' href = '/css/jquery.timepicker.min.css'>
<script src = '/js/jquery.timepicker.min.js'></script>
<script src = '/js/scheduleEdit.js'></script>

<h1 id = 'date'><%= schedule.date %></h1>

<button id = 'save' type="button" class="btn btn-success">Save</button>

    <table class="table table-striped">
        
        
            <thead>
                <th scope="col">Track Name</th>
                <th scope="col">Channel</th>
                <th scope="col">HD Status</th>
                <th scope="col">Time to switch</th>
            </thead>
            <tbody id='yes'>
            
 <% if (schedule) { %>
        <% for (i = 0; i < schedule.channelPlan.length; i++) { %>
                <tr>
                    <td>
                        <input type="text" class="form-control name" value = "<%= schedule.channelPlan[i].name %>">
                    </td>
                    <td>
                        <input class="form-control channel" type="text" placeholder="disabled" readonly value = "<%= schedule.channelPlan[i].channel %>">
                    </td>
                    <td>
                        <input class="form-check-input hd" type="checkbox">
                    </td>
                    <td>
                        <input class="timepicker time">
                    </td>
                </tr>
            <% } %>
            <% } %>
                <tr class = 'cloneItem'>
                    <td>
                        <input type="text" class="form-control name" value = "">
                    </td>
                    <td>
                        <input class="form-control channel" type="text" placeholder="disabled" readonly value = "">
                    </td>
                    <td>
                        <input class="form-check-input hd" type="checkbox">
                    </td>
                    <td>
                        <input class="timepicker time">
                    </td>
                </tr>
        </tbody>
    </table>


    <form>
        <%= date %>
    </form>


                </main>
            </div>
        </div>
    </body>
</html>